In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def is_result_marks(row):
    return (row['Status'] + row["Encouragement"]) - row['Reprimand']

In [3]:
df1 = pd.read_csv("attendance.csv")
df2 = pd.read_csv("statistics.csv")

In [4]:
df1 = df1.drop("Date", axis=1)

In [5]:
df2 = df2.drop("Date", axis=1)

In [6]:
df1

                     Name          Group  Status
0    Баталов Сайд-Магомед  Python pro 16       1
1            Исаев Исмаил  Python pro 16       1
2    Тайдаев Абдуррахьман  Python pro 16       1
3        Тайдаев Абубакар  Python pro 16       1
4    Баталов Сайд-Магомед  Python pro 16       1
..                    ...            ...     ...
136     Лорасанова Ирсана       Django 1       1
137        Чермоев Мовсар       Django 1       1
138          Хахаев Ислам       Django 1       1
139          Мусипов Юсуп       Django 1       1
140          Дадагов Юнус       Django 1       1

[141 rows x 3 columns]

In [7]:
df2

                    Name           Group  Encouragement  Reprimand
0      Абубакаров Рамзан  Python start 6              0        0.0
1       Ганжуев Джабраил  Python start 6              0        0.0
2         Тайсумов Халид  Python start 6              0        0.5
3           Цинкаев Амир  Python start 6              0        0.0
4       Эльжуркаева Асет  Python start 6              0        0.0
5           Денаев Халид  Python start 6              0        0.0
6            Мациев Дени  Python start 6              0        0.0
7       Магомадов Ахьмад  Python start 6              0        0.0
8   Баталов Сайд-Магомед   Python pro 16              0        0.0
9           Исаев Исмаил   Python pro 16              0        0.0
10  Тайдаев Абдуррахьман   Python pro 16              0        0.0
11      Тайдаев Абубакар   Python pro 16              0        0.5
12  Баталов Сайд-Магомед   Python pro 16              0        0.0
13          Исаев Исмаил   Python pro 16              0        0.0
14  Тайдаев Абдуррахьман   Python pro 16              0        0.5
15      Тайдаев Абубакар   Python pro 16              0        0.0
16  Баталов Сайд-Магомед   Python pro 16              1        0.0
17          Исаев Исмаил   Python pro 16              0        0.0
18  Тайдаев Абдуррахьман   Python pro 16              0        0.0
19      Тайдаев Абубакар   Python pro 16              0        0.5
20  Баталов Сайд-Магомед   Python pro 16              0        0.0
21          Исаев Исмаил   Python pro 16              0        0.0
22  Тайдаев Абдуррахьман   Python pro 16              0        0.0
23      Тайдаев Абубакар   Python pro 16              0        0.5
24  Баталов Сайд-Магомед   Python pro 16              0        0.0
25          Исаев Исмаил   Python pro 16              0        0.0
26  Тайдаев Абдуррахьман   Python pro 16              0        0.0
27      Тайдаев Абубакар   Python pro 16              0        0.5
28  Баталов Сайд-Магомед   Python pro 16              0        0.0
29          Исаев Исмаил   Python pro 16              0        0.0
30  Тайдаев Абдуррахьман   Python pro 16              0        0.0
31      Тайдаев Абубакар   Python pro 16              0       10.0

In [8]:
df3 = pd.merge(df1, df2, how='outer')
df3 = df3.fillna(0)

In [9]:
df3

                     Name           Group  Status  Encouragement  Reprimand
0    Баталов Сайд-Магомед   Python pro 16       1            0.0        0.0
1    Баталов Сайд-Магомед   Python pro 16       1            0.0        0.0
2    Баталов Сайд-Магомед   Python pro 16       1            1.0        0.0
3    Баталов Сайд-Магомед   Python pro 16       1            0.0        0.0
4    Баталов Сайд-Магомед   Python pro 16       1            0.0        0.0
..                    ...             ...     ...            ...        ...
216          Цинкаев Амир  Python start 6       0            0.0        0.0
217      Эльжуркаева Асет  Python start 6       1            0.0        0.0
218          Денаев Халид  Python start 6       1            0.0        0.0
219           Мациев Дени  Python start 6       1            0.0        0.0
220      Магомадов Ахьмад  Python start 6       1            0.0        0.0

[221 rows x 5 columns]

In [10]:
df3['result'] = df3.apply(is_result_marks, axis=1)

In [11]:
df3

,Name,Group,Status,Encouragement,Reprimand,result
0,Баталов Сайд-Магомед,Python pro 16,1,0.0,0.0,1.0
1,Баталов Сайд-Магомед,Python pro 16,1,0.0,0.0,1.0
2,Баталов Сайд-Магомед,Python pro 16,1,1.0,0.0,2.0
3,Баталов Сайд-Магомед,Python pro 16,1,0.0,0.0,1.0
4,Баталов Сайд-Магомед,Python pro 16,1,0.0,0.0,1.0
...,...,...,...,...,...,...
216,Цинкаев Амир,Python start 6,0,0.0,0.0,0.0
217,Эльжуркаева Асет,Python start 6,1,0.0,0.0,1.0
218,Денаев Халид,Python start 6,1,0.0,0.0,1.0
219,Мациев Дени,Python start 6,1,0.0,0.0,1.0
220,Магомадов Ахьмад,Python start 6,1,0.0,0.0,1.0